<h2>Formulaire</h2>

{% if user is defined %}
<form method="post" name="formulaire" action="{{ url('users.save', {id: user.id}) }}">

    <input type="hidden" name="id" value={{user.id}} />

    <label for="name">Nom : </label>
    <input type="text" name="nom" value={{user.nom}} />

    <label for="name">Prénom : </label>
    <input type="text" name="prenom" value={{user.prenom}}  />

    <label for="name">Age : </label>
    <input type="text" name="age" value={{user.age}}  />

    <label for="name">Adresse : </label>
    <input type="text" name="adresse" value={{user.adresse}}  />
    
    {% else %}
<form method="post" name="formulaire" action="{{ url('users.save') }}">
    <label for="name">Nom : </label>
    <input type="text" name="nom" />

    <label for="name">Prénom : </label>
    <input type="text" name="prenom" />

     <label for="name">Age : </label>
    <input type="text" name="age" />

     <label for="name">Adresse : </label>
    <input type="text" name="adresse" />


    {% endif %}

    <button type="submit">Envoyer</button>

</form>